<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.customer.getUser.dao.GetUserDao">

    <!--获取用户信息-->
    <select id="getUser" parameterType="java.lang.String" resultType="com.xzsd.app.customer.getUser.entity.GetUserInfo">
        select
        user_id userId,
        user_name userName,
        url,
        invitation_code invitationCode,
        shop_id shopId
        from t_sys_user
        where
        user_id = #{userId}
    </select>
</mapper>