<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.customer.sort.dao.SortDao">
    <!--获取一级分类信息-->
    <select id="getFirtSortInfo" resultType="com.xzsd.app.customer.sort.entity.SortInfoV">
        select
        first_sort_id firstSortId,
        first_sort_name firstSortName;
        from t_first_sort
        where
        is_delete = 0
    </select>

    <!--获取二级分类信息-->
    <select id="getSecondSortInfo" parameterType="java.lang.String" resultType="com.xzsd.app.customer.sort.entity.SortInfoV">
        select
        second_sort_id secondSortId,
        second_sort_name secondSortName
        from t_second_sort
        where
        is_delete = 0
        and
        father_sort_id = #{firstSortId}
    </select>
</mapper>