<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">

    <!--校验该司机信息已经存在-->
    <select id="countDriver" parameterType="java.lang.String" resultType="int">
        select count(driver_name)
        from t_driver
        where driver_acct = #{driverAcct}
        and is_delete = 0
    </select>

    <!--新增司机信息-->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfoU">
        insert into t_driver
        (id,
        driver_name,
        phone,
        driver_acct,
        password,
        id_card,
        province_value,
        city_value,
        county_value,
        b_shop_id,
        is_delete,
        creat_by,
        creat_time,
        last_modify_by,
        modify_time,
        version)
        value
        (#{id},
        #{driverName},
        #{phone},
        #{driverAcct},
        #{password},
        #{idCard},
        #{provinceValue},
        #{cityValue},
        #{countyValue},
        #{b_shop_id},
        0,
        #{creatBy},
        now(),
        #{lastModifyBy}，
        now(),
        0)
    </insert>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfoU">
        update t_driver
        set
        driver_name = #{driverName},
        phone = #{phone},
        driver_acct = #{driverAcct},
        password = #{password},
        id_card = {idCard},
        province_value = #{provinceValue},
        city_value = #{cityValue},
        county_value = #{countyValue},
        b_shop_id = #{bShopId},
        last_modify_by = #{lastModifyBy},
        modify_time = now(),
        version = version + 1
        where
        is_delete = 0
        and id = #{id}
    </update>

    <!--删除司机信息-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfoU">
        update t_driver
        set
        is_delete = ,
        last_modify_by = #{lastModifyBy},
        modify_time = now(),
        version = version + 1
        where driver_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询司机信息列表-->
    <select id="listDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfoF" resultType="com.xzsd.pc.driver.entity.DriverInfoV">
        select
        b.driver_id driverId,
        b.user_name driverName,
        phone,
        b.id_card idCard,
        b.user_acct driverAcct
        from t_driver as a inner join t_sys_user as b
        on driver_id = user_id
        where is_delete = 0
        <if test="driverId != null driverId != ''">
            and driver_id = #{driverId}
        </if>
        <if test="driverName != null and driverName != ''">
            and driver_name = #{driverName}
        </if>
        <if test="provinceValue != null and provinceValue != ''">
            and province_value = #{provinceValue}
        </if>
        <if test="cityValue != null and cityValue != ''">
            and city_value = #{cityValue}
        </if>
        <if test="countyValue != null and countyValue != ''">
            and county_value = #{countyValue}
        </if>
    </select>

    <!--查询司机详情-->
    <select id="getDriverById" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfoV">
        select
        b.user_id driverId,
        b.user_name driverName,
        phone,
        b.id_card idCard,
        b.user_acct driverAcct
        from t_driver as a inner join t_sys_user as b
        on driver_id = user_id
        where is_delete = 0
        and id = #{id}
    </select>
</mapper>