<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">

    <!--校验该司机信息已经存在-->
    <select id="countDriver" parameterType="java.lang.String" resultType="int">
        select count(driver_acct)
        from t_driver
        where driver_acct = #{driverAcct}
        and is_delete = 0
    </select>

    <!--新增司机信息-->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfoU">
        insert into t_driver
        (
        id,
        driver_acct,
        province_value,
        city_value,
        county_value,
        is_delete,
        creat_by,
        creat_time,
        last_modify_by,
        modify_time,
        version)
        value
        (
        #{id},
        #{driverAcct},
        #{provinceValue},
        #{cityValue},
        #{countyValue},
        0,
        #{creatBy},
        now(),
        #{lastModifyBy},
        now(),
        0)
    </insert>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfoU">
        update t_driver
        set
        driver_acct = #{driverAcct},
        province_value = #{provinceValue},
        city_value = #{cityValue},
        county_value = #{countyValue},
        last_modify_by = #{lastModifyBy},
        modify_time = now(),
        version = version + 1
        where
        is_delete = 0
        and id = #{id}
    </update>

    <!--删除司机信息-->
    <update id="deleteDriver" parameterType="java.lang.String">
        update t_driver
        set
        is_delete = 1,
        last_modify_by = #{userId},
        modify_time = now(),
        version = version + 1
        where id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询司机信息列表-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfoF" resultType="com.xzsd.pc.driver.entity.DriverInfoV">
        select
        a.id id,
        b.user_id driverId,
        b.user_name driverName,
        b.phone,
        b.id_card idCard,
        b.user_acct driverAcct
        from t_driver as a inner join t_sys_user as b
        on driver_acct = user_acct
        where a.is_delete = 0
        <if test="driverId != null and driverId != ''">
            and b.user_id like concat('%',#{driverId},'%')
        </if>
        <if test="driverName != null and driverName != ''">
            and b.user_name like concat('%',#{driverName},'%')
        </if>
        <if test="provinceValue != null and provinceValue != ''">
            and a.province_value = #{provinceValue}
        </if>
        <if test="cityValue != null and cityValue != ''">
            and a.city_value = #{cityValue}
        </if>
        <if test="countyValue != null and countyValue != ''">
            and a.county_value = #{countyValue}
        </if>
    </select>

    <!--查询司机详情-->
    <select id="getDriverById" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfoV">
        select
        a.id id,
        b.user_id driverId,
        b.user_name driverName,
        b.phone phone,
        b.id_card idCard,
        b.user_acct driverAcct
        from t_driver as a inner join t_sys_user as b
        on driver_acct = user_acct
        where a.is_delete = 0
        and a.id = #{id}
    </select>

    <!--校验账号角色-->
    <select id="countRole" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.AcctRole">
        select
        role role
        from
        t_sys_user
        where
        user_acct = #{driverAcct}
        and
        is_delete = 0
    </select>

    <!--获取司机详情-->
    <select id="getDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfoU">
        select
        a.driver_acct driverAcct,
        province_value provinceValue,
        city_value cityValue,
        county_value countyValue
        from
        t_driver a left join t_sys_user b
        on a.driver_acct = b.user_acct
        where
        id = #{id}
    </select>
</mapper>