<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goods.dao.GoodsDao">

    <!--检验商品是否存在-->
    <select id="countGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfoU" resultType="int">
        select count(goods_Id)
        from t_goods
        where is_delete = 0
        and goods_id = #{goodsId}
    </select>

    <!--新增商品-->
    <insert id="addGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfoU">
        insert into t_goods
        (
        goods_id,
        goods_name,
        first_sort,
        second_sort,
        set_price,
        sales_price,
        isbn,
        stock,
        advert,
        introduce,
        p_key,
        p_url,
        sales_volume,
        business_name,
        press,
        author,
        browse,
        state,
        is_delete,
        creat_by,
        creat_time,
        last_modify_by,
        modify_time,
        version
        )
        value
        (
        #{goodsId},
        #{goodsName},
        #{firstSortId},
        #{secondSortId},
        #{setPrice},
        #{salesPrice},
        #{isbn},
        #{stock},
        #{advert},
        #{introduce},
        #{pKey},
        #{pUrl},
        #{salesVolume},
        #{businessName},
        #{press},
        #{author},
        #{browse},
        2,
        0,
        #{creatBy},
        now(),
        #{creatBy},
        now(),
        0
        )
    </insert>

    <!--删除商品-->
    <update id="deleteGoods" parameterType="java.util.List">
        update t_goods
        set
        is_delete = 1,
        last_modify_by = #{gUserId},
        modify_time = now(),
        version = version + 1
        where goods_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改商品信息-->
    <update id="updateGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfoU">
        update t_goods
        set
        goods_id = #{goodsId},
        goods_name = #{goodsName},
        first_sort = #{firstSortId},
        second_sort = #{secondSortId},
        set_price = #{setPrice},
        sales_price = #{salesPrice},
        isbn = #{isbn},
        stock = #{stock},
        advert = #{advert},
        introduce = #{introduce},
        p_key = #{pKey},
        p_url = #{pUrl},
        business_name = #{businessName},
        press = #{press},
        author = #{author},
        last_modify_by = #{lastModifyBy},
        modify_time = now(),
        version = version + 1
        where goods_id = #{goodsId}
        and version = #{version}
    </update>

    <!--查询商品列表-->
    <select id="listGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodsInfoF" resultType="com.xzsd.pc.goods.entity.GoodsInfoV">
        select
        a.goods_id goodsId,
        a.goods_name goodsName,
        a.first_sort firstSortId,
        b.first_sort_name firstSortName,
        a.second_sort secondSortId,
        d.second_sort_name secondSortName,
        a.set_price setPrice,
        a.sales_price salesPrice,
        a.isbn,
        a.stock,
        a.advert,
        a.introduce,
        a.p_key pKey,
        a.p_url pUrl,
        a.sales_volume salesVolume,
        a.business_name businessName,
        a.press,
        a.author,
        a.browse,
        a.state,
        a.shelf_time shelfTime
        from t_goods a left join t_first_sort b on
        a.first_sort = b.first_sort_id
        left join t_second_sort d on
        a.second_sort = d.second_sort_id
        where
        a.is_delete = 0
        <if test="goodsName != null and goodsName != ''">
            and goods_name like concat('%',#{goodsName},'%')
        </if>
        <if test="state != 3 ">
            and state = #{state}
        </if>
        <if test="advert != null and advert != ''">
            and advert like concat('%',#{advert},'%')
        </if>
        <if test="press != null and press != ''">
            and press like concat('%',#{press},'%')
        </if>
        <if test="author != null and author != ''">
            and author like concat('%',#{author},'%')
        </if>
    </select>

    <!--修改商品状态-->
    <update id="updateState" parameterType="com.xzsd.pc.goods.entity.GoodsState">
        update t_goods
        set
        state = #{state},
        last_modify_by = #{lastModifyBy},
        modify_time = now(),
        version = version + 1
        <if test="state == 1">
            ,shelf_time = now()
        </if>
        where goods_id in 
        <foreach collection="listId" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询商品详情-->
    <select id="getGoodsInfo" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.GoodsInfoU">
        select
        goods_id goodsId,
        goods_name goodsName,
        first_sort firstSortId,
        second_sort secondSortId,
        set_price setPrice,
        sales_price salesPrice,
        isbn,
        stock,
        advert,
        introduce,
        p_key,
        p_url,
        sales_volume salesVolume,
        business_name businessName,
        press,
        author,
        browse,
        state,
        version
        from
        t_goods
        where
        goods_id = #{goodsId}
    </select>

    <!--新增分类时对应二级分类加1-->
    <update id="addSecondSort" parameterType="java.lang.String">
        update t_second_sort
        set
        goods_num = goods_num + 1,
        last_modify_by = #{userId},
        modify_time = now(),
        version = version + 1
        where
        second_sort_id = #{sortId}
    </update>
</mapper>