<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.hostGoods.dao.HostGoodsDao">

    <!--查询热门位商品列表-->
    <select id="listHostGoods" parameterType="com.xzsd.pc.hostGoods.entity.HostGoodsInfoF" resultType="com.xzsd.pc.hostGoods.entity.HostGoodsInfoV">
        select
        sort,
        goods_id goodsId,
        goods_name goodsName,
        sales_price salesPrice,
        goods_introduce goodsIntroduce,
        from t_host_goods as a inner join t_goods as b
        on a.goods_id = b.goods_id
        where
        sort &lt; #{showNum}
        and is_delete = 0
        order by sort
    </select>

    <!--新增热门位商品-->
    <insert id="addHostGoods" parameterType="com.xzsd.pc.hostGoods.entity.HostGoodsInfoU">
        insert into t_host_goods
        (goods_Id,
        sort,
        is_delete,
        creat_by,
        creat_time,
        version)
        value
        (#{goodsId},
        #{sort},
        0,
        #{creatBy},
        now(),
        0)
    </insert>

    <!--修改热们位商品-->
    <update id="updateHostGoods" parameterType="com.xzsd.pc.hostGoods.entity.HostGoodsInfoU">
        update t_host_goods
        set
        goods_id = #{goodsId},
        sort = #{sort},
        last_modify_by = #{lastModifyBy},
        modify_time = #{modifyTime},
        version = version + 1
        where
        host_id = #{hostId}
        and version = #{version}
    </update>

    <!--删除热门位商品-->
    <update id="deleteHostGoods" parameterType="com.xzsd.pc.hostGoods.entity.HostGoodsInfoU">
        update t_host_goods
        set
        is_delete = 1,
        last_modify_by = #{lastModifyBy},
        modify_time = #{modifyTime},
        version = version + 1
        where
        host_id = #{hostId}
    </update>

    <!--设置展示数量-->
    <update id="setShowNum" parameterType="java.lang.String">
        update t_show
        set
        show_num =#{showNum}
        last_modify_by = #{lastModifyBy},
        modify_time = #{modifyTime},
        version = version + 1
        where
        is_delete = 0
    </update>

    <!--获取展示数量-->
    <select id="getShowNum" resultType="int">
        select
        show_num showNum
        from t_show
        where
        is_delete = 0
    </select>
</mapper>