<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.rotation.dao.RotationDao">

    <!--新增轮播图-->
    <insert id="uploadMg" parameterType="com.xzsd.pc.rotation.entity.RotationInfoU">
        insert into t_rotation
        (rota_id,
        rota_sort,
        p_key,
        p_url,
        state,
        star_time,
        end_time,
        goods_id,
        is_delete,
        creat_by,
        creat_time,
        last_modify_by,
        modify_time,
        version)
        value
        (#{rotaId},
        #{rotaSort},
        #{pKey},
        #{pUrl},
        1,
        #{starDate},
        #{endDate},
        #{goodsId},
        0,
        #{creatBy},
        now(),
        #{creatBy},
        now(),
        0)
    </insert>

    <!--删除轮播图-->
    <update id="deleteMg" parameterType="java.lang.String">
        update t_rotation
        set
        last_modify_by = #{userId},
        modify_time = now(),
        is_delete = 1,
        version = version + 1
        where rota_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改轮播图状态-->
    <update id="updateMgState" parameterType="com.xzsd.pc.rotation.entity.RotationInfoU">
        update t_rotation
        set
        state = #{state},
        last_modify_by = #{lastModifyBy},
        modify_time = now(),
        version = version + 1
        where rota_id = #{rotaId}
        and is_delete = 0
    </update>

    <!--查询轮播图-->
    <select id="listRotationByPage" parameterType="com.xzsd.pc.rotation.entity.RotationInfoU" resultType="com.xzsd.pc.rotation.entity.RotationInfoV">
        select
        rota_id rotaId,
        rota_sort rotaSort,
        p_url pUrl,
        state,
        star_time starTime,
        end_time endTime,
        version
        from t_rotation
        where
        is_delete = 0
        <if test="state != 2">
            and state = #{state}
        </if>
    </select>

    <!--检验该编号轮播图是否存在-->
    <select id="countRotation" parameterType="java.lang.String" resultType="int">
        select count(rota_id)
        from t_rotation
        where rota_id = #{rotaId}
        and is_delete = 0
    </select>

    <!--新增校验排序-->
    <select id="addCountSort" parameterType="com.xzsd.pc.rotation.entity.RotationInfoA" resultType="int">
        select count(rota_id)
        from t_rotation
        where
        is_delete = 0
        and
        rota_sort = #{rotaSort}
    </select>

</mapper>