<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.shop.dao.ShopDao">

    <!--检验该门店是否已经存在-->
    <select id="countShop" parameterType="com.xzsd.pc.shop.entity.ShopInfoU" resultType="int">
        select count(shop_name)
        from t_shop
        where shop_name = #{shopName}
        and is_delete = 0
    </select>

    <!--新增门店-->
    <insert id="addShop" parameterType="com.xzsd.pc.shop.entity.ShopInfoU">
        insert into t_shop
        (shop_id,
        shop_name,
        phone,
        shoppower_id,
        license,
        province_value,
        city_value,
        county_value,
        address,
        invitation_code,
        is_delete,
        creat_by,
        creat_time,
        last_modify_by,
        modify_time,
        version)
        value
        (#{shopId},
        #{shopName},
        #{phone},
        #{shoppowerId},
        #{license},
        #{provinceValue},
        #{cityValue},
        #{countyValue},
        #{address},
        #{invitationCode},
        0,
        #{byUserId},
        now(),
        #{byUserId},
        now(),
        0)
    </insert>

    <!--修改门店信息-->
    <update id="updateShopInfo" parameterType="com.xzsd.pc.shop.entity.ShopInfoU">
        update t_shop
        set
            shop_name = #{shopName},
            phone = #{phone},
            shoppower_id = #{shoppowerId},
            license = #{license},
            province_value = #{provinceValue},
            city_value = #{cityValue},
            county_value = #{countyValue},
            address = #{address},
            last_modify_by = #{byUserId},
            modify_time = now(),
            version = version + 1
            where shop_id = #{shopId}
    </update>

    <!--删除门店信息-->
    <update id="deleteShopId" parameterType="java.lang.String">
        update t_shop
        set
        is_delete = 1,
        last_modify_by = #{userId},
        modify_time = now(),
        version = version + 1
        where
        shop_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查询门店信息列表-->
    <select id="listShopInfoByPage" parameterType="com.xzsd.pc.shop.entity.ShopInfoF" resultType="com.xzsd.pc.shop.entity.ShopInfoV">
        select
        a.shop_id shopId,
        a.shop_name shopName,
        a.phone,
        a.address,
        a.shoppower_id shppowerId,
        a.invitation_code invitationCode,
        b.user_acct userAcct,
        b.user_name shoppowerName
        from t_shop as a left join t_sys_user as b
        on a.shoppower_id = b.user_id
        where
        a.is_delete = 0
        <if test="shopId != null and shopId != ''">
            and a.shop_id like concat('%',#{shopId},'%')
        </if>
        <if test="shopName != null and shopName != ''">
            and a.shop_name like concat('%',#{shopName},'%')
        </if>
        <if test="shoppowerName != null and shoppowerName != ''">
            and b.user_name like concat('%',#{shoppowerName},'%')
        </if>
        <if test="provinceValue != null and provinceValue != ''">
            and a.province_value = #{provinceValue}
        </if>
        <if test="cityValue != null and cityValue != ''">
            and a.city_value = #{cityValue}
        </if>
        <if test="countyValue != null and countyValue != ''">
            and a.county_value = #{countyValue}
        </if>
    </select>

    <!--查询门店详情-->
    <select id="getShopInfo" parameterType="java.lang.String" resultType="com.xzsd.pc.shop.entity.ShopInfoV">
        select
        a.shop_id shopId,
        a.shop_name shopName,
        a.phone phone,
        a.address,
        a.shoppower_id shppowerId,
        a.invitation_code invitationCode,
        a.license license,
        a.province_value provinceValue,
        a.city_value cityValue,
        a.county_value countyValue,
        b.user_id shoppowerId,
        b.user_acct userAcct
        from t_shop as a left join t_sys_user as b
        on a.shoppower_id = b.user_id
        where
        a.is_delete = 0
        and shop_id = #{shopId}
    </select>

    <!--校验账号角色-->
    <select id="countRole" parameterType="com.xzsd.pc.shop.entity.ShopInfoU" resultType="com.xzsd.pc.shop.entity.AcctRole">
        select
        role
        from
        t_sys_user
        where
        user_id = #{shoppowerId}
        and
        is_delete = 0
    </select>
</mapper>