<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserDao">
    <!--统计用户账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_delete = 0
        <if test="userAcct != null and userAcct != ''">
            and user_acct = #{userAcct}
        </if>
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
    </select>

    <!--统计用户账号是否存在-->
    <select id="countAcct" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="int">
        select count(user_Id)
        from t_sys_user
        where is_delete = 0
        and
        user_acct = #{userAcct}
    </select>

    <!--新增用户-->
    <insert id="saveUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
            insert into t_sys_user
            (user_id,
            user_name,
            sex,
            phone,
            email,
            id_card,
            user_acct,
            user_password,
            role,
            is_delete,
            creat_by,
            creat_time,
            last_modify_by,
            modify_time,
            version,
            p_key,
            p_url)
            value
            (#{userId},
            #{userName},
            #{sex},
            #{phone},
            #{email},
            #{idCard},
            #{userAcct},
            #{password},
            #{role},
            #{isDelete},
            #{creatBy},
            now(),
            #{lastModifyBy},
            now(),
            0,
            #{pKey},
            #{pUrl}
            )
    </insert>

    <!--用户列表-->
    <select id="listUsersByPage" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
        user_id userId,
        user_name userName,
        user_acct userAcct,
        user_password password,
        role,
        sex sex,
        phone phone,
        email email,
        id_card idCard,
        p_url pUrl,
        is_delete isDelete,
        creat_by creatBy,
        creat_time creatTime,
        last_modify_by lastModifyBy,
        modify_time modifyTime,
        version version
        from t_sys_user
        where is_delete = 0
        <if test="userAcct != null and userAcct != ''">
            and user_acct like concat('%',#{userAcct},'%')
        </if>
        <if test="userName != null and userName != ''">
            and user_name like concat('%',#{userName},'%')
        </if>
        <if test="role != 4">
            and role = #{role}
        </if>
        order by creat_time desc
    </select>

    <!--删除用户-->
    <update id="deleteUser" parameterType="java.util.List">
        update t_sys_user
        set
        is_delete = 1,
        modify_time = now(),
        last_modify_by = #{gUserId},
        version = version + 1
        where user_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
                update t_sys_user
                set
                    user_name = #{userName},
                    user_acct = #{userAcct},
                    id_card = #{idCard},
                    sex = #{sex},
                    phone = #{phone},
                    email = #{email},
                    p_url = #{pUrl},
                    modify_time = now(),
                    last_modify_by = #{lastModifyBy},
                    version = version + 1
                where user_id = #{userId}
                    and version = #{version}
        </update>

    <!--获取用户信息-->
    <select id="getUserByUserId" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
            user_id userId,
            user_name userName,
            user_acct userAcct,
            user_password password,
            id_card idCard,
            sex,
            phone,
            email,
            p_url pUrl,
            version
        from t_sys_user
        where user_id = #{userId}
        and is_delete = 0
    </select>
</mapper>